[Unit]
Description=Go HTTP Ping Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=go-http-ping
Group=go-http-ping
ExecStart=/usr/local/bin/go-http-ping -ip 0.0.0.0 -port 8080
Restart=on-failure
RestartSec=3s
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true

[Install]
WantedBy=multi-user.target
